{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">{% endblock css%}
{% block content %}
<div class="container my-3">
  <form name="studyform" action="" method="POST" enctype="multipart/form-data">
    <input hidden="hidden">
    {% csrf_token %}
    <div class="mb-3"><label class="form-label" for="id_theme">공부과목</label>
      <select aria-label="Default select" class="form-select mb-3" name="categoryselect" onchange="category_change()">
        <option value="9">직접입력</option>
        <option value="Python" selected>Python</option>
        <option value="Javascript">Javascript</option>
        <option value="Django">Django</option>
        <option value="Vue">Vue</option>
        <option value="React">React</option>
      </select>
      <input required="" cols="40" rows="10" id="id_theme" class="form-control" type="hidden" name="categorie"
        placeholder="과목을 직접 입력하세요." value="Python">
    </div>
    <div class="mb-3"><label class="form-label" for="id_studytype">진행방법</label>
      <select aria-label="Default select" class="form-select mb-3" name="studytypeselect" onchange="studytype_change()">
        <option value="9">직접입력</option>
        <option value="당일" selected>당일 스터디</option>
        <option value="그룹">그룹 스터디</option>
      </select>
      <input required="" cols="40" rows="10" id="id_studytype" class="form-control" type="hidden" name="study_type"
        placeholder="진행방법을 직접 입력하세요." value="Python">
    </div>
    <div class="mb-3"><label class="form-label" for="id_locationtype">모임형태</label>
      <select aria-label="Default select" class="form-select mb-3" name="location_type"
        onchange="locationtype_change()">
        <option value="0" selected>오프라인</option>
        <option value="1">온라인</option>
      </select>
    </div>
    <div>
      <!-- <div id="map" style="width:100%;height:400px;"></div> -->
      <div name="map_wrap" class="map_wrap">
        <div id="map" style="width:100%;height:100%;position:relative;overflow:hidden;"></div>

        <div id="menu_wrap" class="bg_white">
          <div class="option">
          </div>
          <hr>
          <ul id="placesList"></ul>
          <div id="pagination"></div>
        </div>
      </div>
      <label for="id_addr" class="form-label">주소</label>
      <div class="input-group mb-3">
        <input name="addr" maxlength="80" required="주소를 입력하고 지도를 클릭해 마커를 표시해 주세요!" type="text" class="form-control"
          placeholder="직접 입력하거나 지도를 클릭해 마커를 표시하세요." id="id_addr" aria-label="Recipient's username"
          aria-describedby="button-addon2">
        <button onclick="searchPlaces()" class="btn btn-primary" type="button" id="button-addon2">검색하기</button>
      </div>
    </div>
    {% bootstrap_form study_form %}
    <input name="X" type="hidden" value="">
    <input name="Y" type="hidden" value="">
    <div class="d-grid gap-2">
      <button type="submit" class="btn" style="background-color: rgb(245, 132, 12); color: white;">등록
      </button>
    </div>
  </form>
</div>

<script type="text/javascript"
  src="//dapi.kakao.com/v2/maps/sdk.js?appkey=5f7017bbd438ca7123380bb4aa4d8597&libraries=services"></script>
<script src="{% static 'js/form.js'%}"></script>
{% endblock content %}