/* @font-face {
    font-family: 'Atomy-Bold';
    src: url('https://runedemonic.github.io/Tgether/Atomy-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} */

html, body {
    padding: 0;
    height: 100%;
    /* font-family: 'Atomy-Bold', sans-serif; */
    
}

.index-header{
    height: 500px;
    background:  linear-gradient(17deg, teal, purple, orange)
}

.content {
   /** min-height: calc(100vh - 80px);*/
}

body {
    margin: 0;
    /*background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);*/
    

    /*background-image: linear-gradient(to top, #5f72bd 0%, #9b23ea 100%);*/
}


nav {
    position: relative;
    width: 1550px;
    display: table;
    margin: 0 auto;
    background:#292929
    /*transform: translateY(10%);*/
}

nav a {
    position: relative;
    width: 25%;
    display: table-cell;
    text-align: center;
    color: #949494;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: xx-large;
    padding: 10px 20px;
    transition: 0.2s ease color;
}

nav a:before,
nav a:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.2s ease transform;
}

nav a:before {
    top: 15px;
    left: 10px;
    width: 6px;
    height: 6px;
}

nav a:after {
    top: 20px;
    left: 18px;
    width: 4px;
    height: 4px;
}

nav a:nth-child(2):before {
    background-color: yellow;
}

nav a:nth-child(2):after {
    background-color: red;
}

nav a:nth-child(3):before {
    background-color: #00e2ff;
}

nav a:nth-child(3):after {
    background-color: #89ff00;
}

nav a:nth-child(4):before {
    background-color: purple;
}

nav a:nth-child(4):after {
    background-color: palevioletred;
}

#indicator {
    position: absolute;
    left: 25%;
    bottom: 25%;
    width: 30px;
    height: 3px;
    background-color: #fff;
    border-radius: 5px;
    transition: 0.2s ease left;
}

nav a:hover {
    color: #fff;
}

nav a:hover:before,
nav a:hover:after {
    transform: scale(1);
}

nav a:nth-child(2):hover ~ #indicator {
    background: linear-gradient(130deg, yellow, red);
}

nav a:nth-child(3):hover ~ #indicator {
    left: 50%;
    background: linear-gradient(130deg, #00e2ff, #89ff00);
}

nav a:nth-child(4):hover ~ #indicator {
    left: 75%;
    background: linear-gradient(130deg, purple, palevioletred);
}

.card-image{
    height:296px;
    object-fit: scale-down;
}

.card-body {
    height: 11rem;
}

/* 카드 그라데이션 */
.card-grad {
    position: absolute;
    width: 100%;
    height: 100%;
    /*background: linear-gradient(0deg, rgba(255, 0, 186, 0.89) 0%, rgba(16, 9, 121, 0.8597689075630253) 35%, rgba(2, 0, 36, 0.4) 100%);*/

    border-radius: 4px;
}

.card span {
    letter-spacing: 3px;
    background-color: #FDA790;
    font-size: 11px;
    color: white;
    padding: 3px 10px;
}

.members {
    margin: 3px;
    padding: 2px 2px;
    width: 15px;
    height: 15px;
}

.card {
    position: relative;
    overflow: hidden;
    width: 100%;
    box-shadow: 1rem;
}

.card:hover .card-image {
    transform: scale(1.4);
}

.card title {
    font-weight: bold;
}
.card-title{
    font-weight: bold;

}

.card .card-image {
    width: 100%;
    transition: all 0.2s linear;
}

.container {
    background: rgba(255, 255, 255, .5);
    padding: 4rem;
    border-radius: 10px;
    position: relative;
    height: 1000px;

}
.container::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, .15);

    border-radius: 10px;
    z-index: -1;
}

.container-fluid{
    background:  #292929;
    opacity: 0;

}
.testboard{
    background-image: url(../../static/textured-paper.png);
}
