{% extends "base.html" %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'accounts/css/style.css' %}">
{% endblock css %}

{% block content %}
  <div>
    <!-- 헤더 이미지 영역 -->
    <header class="row head p-5 shadow-lg">
      <div class="col-4">
        <div class="d-flex justify-content-center align-items-center h-100">
          {% if person.profile_picture %}
            <img src="{{ person.profile_picture.url }}" alt="" class="rounded-circle border border-5">
          {% else %}
            <img src="https://dummyimage.com/180/000/fff" alt="" class="rounded-circle border border-5">
          {% endif %}
        </div>
      </div>

      <!-- 이름, 이메일, 깃허브 -->
      <div class="text-white h-100 col-8 fs-4 d-flex flex-column justify-content-evenly">
        <p class="fw-bold">
          {{ person.nickname|default_if_none:" 어딘가의 드비" }}
        </p>
        <p>
          {% if person.email %}
            {{ person.email }}
          {% else %}
            이메일이 존재하지 않습니다.
          {% endif %}
        </p>
        <p>
          깃허브
        </p>
      <!-- 꿀단지 이미지 -->
          <div>
            <span class="icons" style="background: url('/static/accounts/image/honey.png') 0px 0px / 100px no-repeat;">
              <span class="icons2" style="padding-top: calc({{ honey }}*2px); background: url('/static/accounts/image/honey_fill.png') 0px calc({{ honey }}*2px - 100px) / 100px no-repeat;"></span>
              </span>
          </div>

      </div>
    </header>
  </div>

  <div class="board">
    <div class="wrapper">
      <div class="tabs">
        <div class="tab">
          <input type="radio" name="css-tabs" id="tab-1" checked="checked" class="tab-switch">
          <label for="tab-1" class="tab-label">진행 중 스터디</label>
          <div class="tab-content">
            <!-- 진행중 스터디 -->
            <section class="">
              <!-- 스터디 제목, 기간, 설명 -->
              <div class="row row-cols-1 row-cols-md-4 g-4">
                {% for study in studies %}
                  <div class="col">
                    {% if study.isactive %}
                      <a href="{% url 'reviews:detail' study.pk %}">
                        <div class="card border-0 shadow h-100">
                          {% if study.image %}
                            <img src="{{ study.image.url }}" class="card-img-top card-image" alt="...">
                          {% else %}
                            <div class="card-img-top h-100"></div>
                          {% endif %}
                          <div class="card-body"></div>
                          <div class="card-grad">
                            <h5 class="card-title study-title p-3">{{ study.title }}</h5>
                            <div class="rounded-3 p-2 content-box">
                              <p class="study-content m-0">{{ study.content }}</p>
                              <span class="border rounded-pill"><img src="{% static '/members.png' %}" alt="" class="members">{{ study.accepted.all|length }}/{{ study.limits }}</span>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                  {% endif %}

                {% endfor %}
              </div>
            </section>
          </div>
        </div>

        <!-- 참여한 스터디 -->
        <div class="tab">
          <input type="radio" name="css-tabs" id="tab-2" class="tab-switch">
          <label for="tab-2" class="tab-label">About{{ person.nickname|default_if_none:" 어딘가의 드비" }}</label>
          <div class="tab-content">
            <section class="">
              <!-- 제목 영역 -->
              <h2 class="detail-header">{{ person.nickname|default_if_none:" 어딘가의 드비" }}
                님의 github 활동입니다</h2>
              <!-- 깃허브 영역 -->
              <div class="detail-content">
                등록된 깃허브가 없어요.
              </div>
              <!-- 제목 영역 -->
              <h2 class="detail-header">{{ person.nickname|default_if_none:" 어딘가의 드비" }}
                님의 스터디 참여 내역입니다</h2>
              <!-- 내용 영역 -->
              <div class="detail-content">
                <p>{{ person.nickname|default_if_none:" 어딘가의 드비" }}
                  님은 django 스터디를 가장 많이 참여하였습니다.</p>
                <p>{{ person.nickname|default_if_none:" 어딘가의 드비" }}
                  님은 온라인 3회, 오프라인 0회 스터디에 참여하였습니다.</p>
              </div>
              <!-- 제목 영역 -->
              <h2 class="detail-header">{{ person.nickname|default_if_none:" 어딘가의 드비" }}
                님의 최근 리뷰 활동입니다</h2>
              <!-- 내용 영역 -->
              <div class="detail-content">
                아직 작성된 리뷰가 없어요.
              </div>
            </section>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
