{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'accounts/css/style.css' %}">
{% endblock css %}

{% block content %}
<div>
  <header class="row head p-5 shadow-lg">
    <div class="col-4">
      <div class="d-flex justify-content-center align-items-center h-100">
        {% if person.profile %}
        <img src="https://dummyimage.com/120/000/fff" alt="" class="rounded-circle border border-5">
        {% else %}
        <img src="https://dummyimage.com/180/000/fff" alt="" class="rounded-circle border border-5">
        {% endif %}
      </div>
    </div>

    <!-- 이름, 이메일, 깃허브 -->
    <div class="text-white h-100 col-8 fs-4 d-flex flex-column justify-content-evenly">
      <p class="fw-bold">
        {{ person.nickname }}
      </p>
      <p>
        {% if person.email %}
        {{ person.email }}
        {% else %}
        이메일이 존재하지 않습니다.
        {% endif %}
      </p>
      <p>
        깃허브
      </p>
    </div>
  </header>
</div>
<div class="container">

    <!-- 헤더 이미지 영역 -->
      <section class="board">
        <div class="tab-menu">
            <button id="btn_1" class="btn btn-primary">참여중 스터디</button>
            <button id="btn_2" class="btn btn-primary">참여한 스터디</button>
        </div>
        <div id="tab-1" class="tab_1">
            <div class="row">
            <!-- 스터디 이미지 -->
            <div class="col-4">
                
            </div>
            <!-- 스터디 제목, 기간, 설명 -->
            <div class="col-8" style="padding: 50px;">
                <div style="padding: 50px 0px;">
                    <span class="display-5 fw-bold">즐거운 스터디</span>
                    <span class="text-muted">2022.11.10 ~ 2022.11.15</span>
                    <p style="text-overflow: ellipsis; width:80%;">아주아주 즐겁습니다.아주아주 즐겁습니다.아주아주 즐겁습니다.아주아주 즐겁습니다.아주아주 즐겁습니다.아주아주 즐겁습니다.아주아주 즐겁습니다.아주아주 즐겁습니다.아주아주 즐겁습니다.아주아주 즐겁습니다.아주아주 즐겁습니다.아주아주 즐겁습니다.아주아주 즐겁습니다.아주아주 즐겁습니다.</p>
                </div>
                <hr>
                <div style="padding: 50px 0px;">
                    <span class="display-5 fw-bold">즐거운 스터디</span>
                    <span class="text-muted">2022.11.10 ~ 2022.11.15</span>
                    <p style="text-overflow: ellipsis; width:80%;">아주아주 즐겁습니다.아주아주 즐겁습니다.아주아주 즐겁습니다.아주아주 즐겁습니다.아주아주 즐겁습니다.아주아주 즐겁습니다.아주아주 즐겁습니다.아주아주 즐겁습니다.아주아주 즐겁습니다.아주아주 즐겁습니다.아주아주 즐겁습니다.아주아주 즐겁습니다.아주아주 즐겁습니다.아주아주 즐겁습니다.</p>
                </div>
                <hr>
                <div style="padding: 50px 0px;">
                    <span class="display-5 fw-bold">즐거운 스터디</span>
                    <span class="text-muted">2022.11.10 ~ 2022.11.15</span>
                    <p style="text-overflow: ellipsis; width:80%;">아주아주 즐겁습니다.아주아주 즐겁습니다.아주아주 즐겁습니다.아주아주 즐겁습니다.아주아주 즐겁습니다.아주아주 즐겁습니다.아주아주 즐겁습니다.아주아주 즐겁습니다.아주아주 즐겁습니다.아주아주 즐겁습니다.아주아주 즐겁습니다.아주아주 즐겁습니다.아주아주 즐겁습니다.아주아주 즐겁습니다.</p>
                </div>
                <hr>


        </div>
        참여중입니다.
      </div>




    </div>
    
    <script>
        const button1 = document.querySelector('#btn_1')
        const button2 = document.querySelector('#btn_2')
        button2.addEventListener('click', function () {
            const tab1 = document.querySelector("#tab-1")
            const tab2 = document.querySelector("#tab-2")
            tab1.classList.add('deactive')
            tab2.classList.remove('deactive')
        });
        button1.addEventListener('click', function () {
            const tab1 = document.querySelector("#tab-1")
            const tab2 = document.querySelector("#tab-2")
            tab1.classList.remove('deactive')
            tab2.classList.add('deactive')
        });
    </script>

{% endblock content %}