{% extends 'base_test.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
{% endblock css %}
{% block content %}

<div class="container my-5">
  {% if success %}
  <h1 class="text-center">{{ msg }}</h1>
  <div class="text-center my-5">
    <a href="{% url 'home' %}">메인 페이지로 가기</a>
  </div>
  {% else %}
  <h1 class="text-center">인증 실패 : {{ msg }}</h1>
  <p class="text-center">관리자에게 문의하세요.</p>
  <div class="text-center my-5">
    <a href="{% url 'home' %}">메인 페이지로 가기</a>
  </div>
  {% endif %}
</div>

{% endblock content %}