{% extends 'base.html' %}

{% block content %}

<h1>test</h1>
{% for user in users %}
{% if user == request.user %}
<h5>{{ user }}</h5>
<a href="{% url 'accounts:logout' %}" class="btn btn-primary">로그아웃</a>
<a href="{% url 'accounts:update' user.pk %}" class="btn btn-primary">내정보 수정</a>
{% else %}
<p>{{ user }}</p>
{% endif %}
{% endfor %}


{% for member in members %}
<p>{{member}}
  <a href="{% url 'accounts:likes' member.pk %}">좋아요</a>
  <a href="{% url 'accounts:dislikes' member.pk %}">싫어요</a>
</p>
{% endfor%}

{% endblock content %}