{% load django_bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block css %}{% endblock css %}
  {% bootstrap_css %}{% bootstrap_javascript %}
  <title>CodeBee</title>
  <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square-neo.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  <style>
    body {
      font-family: 'NanumSquareNeo';
    }

    a {
      text-decoration: none;
    }
  </style>
</head>

<body>
  <div style="height:68px"></div>
  <nav id="bg" class="navbar-standard navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #ffa9bf;">
    <div class="container">
      <a class="navbar-brand" style="cursor: pointer;"><img src="{% static 'logo.png' %}" alt=""></a>
      <button aria-label="Toggle navigation" type="button" class="navbar-toggler">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link" href="/room/list" style="color:white">일반 스터디</a></li>
          <li class="nav-item"><a class="nav-link" href="/groups/list" style="color:white">그룹 스터디</a></li>
          <li class="nav-item"><a class="nav-link" href="/board/list/advertise" style="color:white">그룹 모집 게시판</a></li>
          <li class="nav-item"><a class="nav-link" href="/room/ca" style="color:white">스터디 만들기</a></li>
          <li class="nav-item"><a class="nav-link" href="/myGroup" style="color:white">내 스터디</a></li>
          <li class="nav-item"><a class="nav-link" href="/term/3" style="color:white">공지사항</a></li>
          <li class="nav-item"><a class="nav-link" href="/board/inquiryBoard" style="color:white">고객센터</a></li>
        </ul>
        <ul class="ms-auto navbar-nav">
          {% if request.user.is_authenticated %}
          <li class="nav-item"><a href="{% url 'accounts:logout' %}" class="nav-link">로그아웃</a></li>
          {% else %}
          <li class="nav-item"><a href="{% url 'accounts:login' %}" class="nav-link" style="color:white">로그인</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  {% block content %}

  {% endblock content %}
  <footer class="align-items-center no-gutters row" style="background:rgb(83, 83, 83); height:80px">
    <div class="col-md-3"></div>
    <div class="col-12 col-md-6">
      <div class="justify-content-between no-gutters row">
        <div class="p-2 col-12">
          <p class="mb-0 text-white">@ Copyrights 2022 CodeBee All Rights Reserved</p>
        </div>
      </div>
    </div>
    <div class="col-4 col-md-3"></div>
  </footer>
  <script>
    var bg = document.getElementById('bg')

    window.addEventListener('scroll', () => {
      bg.style.opacity = 1 - window.pageYOffset / 550 + ''
    })
  </script>
</body>

</html>