{% load django_bootstrap5 %}
{% load static %}

<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block css %}{% endblock css %}
    {% bootstrap_css %}{% bootstrap_javascript %}
    <title>CodeBee</title>
    <link href="{% static 'css/menu.css' %}" rel="stylesheet" type="text/css"/>
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square-neo.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/628c8d2499.js" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

</head>

<body>
<img id="img1" style="position:absolute; left:0; top:0; z-index:999;" src="{% static "m_logo.png" %} " width="50">

<script >

	// 마우스 커서 위치 담을 변수
	var mouseX = 0;
	var mouseY = 0;

	function getMousePosition(e){
		var eObj = window.event? window.event : e; // IE, FF 에 따라 이벤트 처리 하기
		mouseX = eObj.clientX;
		mouseY = eObj.clientY + document.documentElement.scrollTop; // 화면을 스크롤 했을때를 위한 처리 (스크롤 한 만큼 마우스 Y좌표에 + )
		// documentElement 가 안된다면 body 바꿔야 한다. 크롬의 경우.. (자동파악 로직 필요)
	}

	function moveImg(){
		// 이미지 위치 파악하기
		var m_x = parseInt(document.getElementById('img1').style.left.replace('px', ''));
		var m_y = parseInt(document.getElementById('img1').style.top.replace('px', ''));

		// 이미지 움직이기
		document.getElementById('img1').style.left = Math.round(m_x + ((mouseX - m_x) / 5)) + 'px';
		document.getElementById('img1').style.top = Math.round(m_y + ((mouseY - m_y) / 5)) + 'px';

		// 부드럽게 따라오는 공식 대략..
		// 현재 이미지위치 = 현재이미지 위치 + (이미지 위치기준 마우스 커서 위치 / 적절한 나누기 값)
		// 반복 처리 해주면 됩니다.

		// ※ 이미지 위치 기준 마우스 커서 위치란?
		// 이미지를 기준으로 그 이미지에서 커서가 얼마나 떨어져 있는지 여부
	}

	document.onmousemove = getMousePosition; // 마우스가 움직이면 getMousePosition 함수 실행
	setInterval("moveImg()", 50); // moveImg 함수 반복 실행하여 이미지 움직이기

//-->
</script>
<div class="container-fluid nav_bg" id="bg">
    <nav>
        <a href="{% url 'home' %}"><img src="{% static "logo_yw.png" %}" width="80"></a>
        <a href="{% url 'reviews:index' %}">코드비 찾기</a>
        <a href="{% url 'reviews:create' %}">코드비 모으기</a>
        <a data-bs-toggle="offcanvas" href="#offcanvasRight" role="button" aria-controls="offcanvasRight">코드비 정보</a>
        <div class="offcanvas offcanvas-end bg-dark" tabindex="-1" id="offcanvasRight"
             aria-labelledby="offcanvasRightLabel">
            <div class="offcanvas-header">
                <h5 id="offcanvasRightLabel">코드비 정보</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">

                {% if request.user.is_authenticated %}
                    <h1>
                        <a class="text-white" href="{% url 'accounts:test' %}">내 정보</a>
                    </h1>
                    <h1>
                        {{ request.user }}
                        <a class="text-white" href="{% url 'accounts:logout' %}">로그아웃</a>

                    </h1>
                {% else %}
                    <h1>
                        <a class="glow-on-hover" href="{% url 'accounts:login' %}" type="button">로그인</a>
                    </h1>
                {% endif %}
            </div>
        </div>
        <div id="indicator"></div>
    </nav>
</div>
{% block content %}

{% endblock content %}
<footer class="align-items-center no-gutters row"
        style="position:sticky; background:rgb(83, 83, 83); height:80px; bottom:0">
    <div class="col-md-3"></div>
    <div class="col-12 col-md-6">
        <div class="justify-content-between no-gutters row">
            <div class="p-2 col-12">
                <p class="mb-0 text-white">@ Copyrights 2022 CodeBee All Rights Reserved</p>
            </div>
        </div>
    </div>
    <div class="col-4 col-md-3"></div>
</footer>
<script>
    const bg = document.getElementById('bg')

    window.addEventListener('scroll', () => {
        bg.style.opacity = 1 - window.scrollY / 300 + ''
    })
</script>
</body>

</html>