{% load django_bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block css %}{% endblock css %}
  {% bootstrap_css %}{% bootstrap_javascript %}
  <title>CodeBee</title>
  <link href="{% static 'css/menu.css' %}" rel="stylesheet" type="text/css" />
  <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square-neo.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.css" />
  <script src="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.min.js"></script>
  <style>
    body {
      font-family: 'NanumSquareNeo';
      overflow-x: hidden;
    }

    .simplebar-scrollbar::before {
      background-color: rgb(255, 208, 0);
    }

    a {
      text-decoration: none;
    }

    #ul-div>li>a:hover {
      color: rgb(255, 255, 255);
    }

    li {
      list-style: none;
    }
  </style>
</head>

<body>
  <img id="img1" style="position:absolute; left:0; top:0; z-index:10;" src="{% static  'm_logo.png' %} " width=" 50">

  <script>

    // 마우스 커서 위치 담을 변수
    var mouseX = 0;
    var mouseY = 0;

    function getMousePosition(e) {
      var eObj = window.event ? window.event : e; // IE, FF 에 따라 이벤트 처리 하기
      mouseX = eObj.clientX + 15;
      mouseY = eObj.clientY + document.documentElement.scrollTop + 15; // 화면을 스크롤 했을때를 위한 처리 (스크롤 한 만큼 마우스 Y좌표에 + )
      // documentElement 가 안된다면 body 바꿔야 한다. 크롬의 경우.. (자동파악 로직 필요)
    }

    function moveImg() {
      // 이미지 위치 파악하기
      var m_x = parseInt(document.getElementById('img1').style.left.replace('px', ''));
      var m_y = parseInt(document.getElementById('img1').style.top.replace('px', ''));

      // 이미지 움직이기
      document.getElementById('img1').style.left = Math.round(m_x + ((mouseX - m_x) / 25)) + 'px';
      document.getElementById('img1').style.top = Math.round(m_y + ((mouseY - m_y) / 25)) + 'px';

      // 부드럽게 따라오는 공식 대략..
      // 현재 이미지위치 = 현재이미지 위치 + (이미지 위치기준 마우스 커서 위치 / 적절한 나누기 값)
      // 반복 처리 해주면 됩니다.

      // ※ 이미지 위치 기준 마우스 커서 위치란?
      // 이미지를 기준으로 그 이미지에서 커서가 얼마나 떨어져 있는지 여부
    }

    document.onmousemove = getMousePosition; // 마우스가 움직이면 getMousePosition 함수 실행
    setInterval("moveImg()", 7); // moveImg 함수 반복 실행하여 이미지 움직이기

  </script>
  <div id="main-top">
    <!-- 높이를 정해주어야 스크롤이 고장나지 않음 -->
    <div class="msgbox p-0 m-0 animate__animated animate__fadeIn">
      {% if messages %}
      {% for message in messages %}
      <div class="toast show text-bg-{{ message.tags }} mb-3" aria-live="assertive" aria-atomic="true"
        style="position: relative; top: 2rem; left: 2rem;">
        <div class="toast-header">
          <strong class="me-auto">알림
          </strong>
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
          {% if "이름" in message.message %}
          <p>{{ message }}</p>
          <div class="text-end">
            <a href="{% url 'accounts:detail' request.user.pk %}" class="btn btn-primary btn-sm">입력하러 가기</a>
          </div>
          {% else %}
          {{ message }}
          {% endif %}
        </div>
      </div>
      {% endfor %}
      {% endif %}
    </div>
    <!-- 네비게이션 -->
    <nav class="navbar navbar-expand-lg nav_bg" id="bg">
      <div class="container">
        <a href="{% url 'home' %}"><img src="{% static 'logo_yw.png' %}" width="60"></a>
        <div id="ul-div" class="collapse navbar-collapse" id="navbarSupportedContent">
          <li id="li1" class="nav-item ms-3">
            <a href="{% url 'reviews:index' %}">코드비 찾기</a>
          </li>
          <li id="li2" class="nav-item">
            <a href="{% url 'reviews:create' %}">코드비 모으기</a>
          </li>
          {% if request.user.is_authenticated %}
          <li id="li3" class="nav-item ms-auto m-0">
            <a class="nav-item" href="{% url 'accounts:logout' %}">로그아웃</a>
          </li>
          <li id="li4" class="nav-item">
            <a data-bs-toggle="offcanvas" href="#offcanvasRight" role="button" aria-controls="offcanvasRight">코드비
              정보</a>
          </li>
          {% else %}
          <li id="li3" class="nav-item ms-auto me-3">
            <a href="{% url 'accounts:login' %}">로그인</a>
          </li>
          <li id="li4" class="me-3">
            <a href="{% url 'accounts:signup' %}">즉시 가입</a>
          </li>
          {% endif %}
          <div id="indicator"></div>
        </div>
      </div>
    </nav>
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasRight"
      aria-labelledby="offcanvasRightLabel">
      <div class="offcanvas-header justify-content-around">
        <h1 id="offcanvasRightLabel" class="m-0">{{ request.user }}</h1>
        <button type="button" class="btn-close text-reset text-bg-light" data-bs-dismiss="offcanvas"
          aria-label="Close"></button>
      </div>
      <hr style="color:white; border: solid 2px; margin: 0;">
      <div class="offcanvas-body">
        {% if request.user.is_authenticated %}
        <div class="m-3 p-3">
          {% if request.user.profile_picture %}
          <img src="{{ request.user.profile_picture.url }}" alt="" class="rounded-circle border border-5"
            style="width: 300px; height: 300px;">
          {% elif request.user.social_profile_picture %}
          <img src="{{ request.user.social_profile_picture }}" alt="" class="rounded-circle border border-5"
            style="width: 300px; height: 300px;">
          {% else %}
          <img src="https://dummyimage.com/180/000/fff" alt="" class="rounded-circle border border-5">
          {% endif %}
        </div>
        <p><a class="anc" href="{% url 'accounts:detail' request.user.pk %}">회원 정보 상세보기</a></p>
        <div>
          {% if request.user.is_social_account %}
          <span class="text-warning ps-2">[ 소셜 로그인 유저 ]</span>
          {% else %}
          <span class="text-white ps-2">[ 그저 한 마리의 꿀벌 ]</span>
          {% endif %}
        </div>
        <p>{{ request.user.fullname }}</p>
        <p>{{ request.user.email }}</p>
        <p>{{ request.user.phone }}</p>
        {% else %}
        <h3>권한이 없습니다.</h3>
        <h3>
          <a class="glow-on-hover" href="{% url 'accounts:login' %}" type="button">로그인</a>
        </h3>
        {% endif %}
      </div>
    </div>
  </div>
  <div id="main">
    <div style="width:100%; height:960px; background-image: url({% static 'honey.jpg' %}); background-repeat: no-repeat" >
      <div class="container d-flex flex-column justify-content-end" style="height:960px">
        <div class="justify-content-end align-items-center pb-5  w-100 no-gutters row">
          <div class="text-center d-flex flex-column col-md-11 col-xl-5 py-3 rounded-pill"
            style="background:rgba(27, 49, 65, 0.842)">
            <a class="" href="{% url 'reviews:index' %}">
              <h1 class="text-white fw-bold ">Study Together</h1>
              <p class="lead  text-white mb-0 ">
                <b>
                  다양한 스터디에 참여해요!
                </b>
              </p>
              <small class="text-muted mb-0">찾으시는 다양한 그룹이 있어요!</small>
            </a>
          </div>
        </div>
        <div class="justify-content-start align-items-center pb-5  w-100 no-gutters row">
          <div class="text-center d-flex flex-column col-md-11 col-xl-5 py-3 rounded-pill"
            style="background:rgba(46, 58, 28, 0.9)">
            <a href="{% url 'reviews:create' %}">
              <h1 class="text-white fw-bold ">Make Study</h1>
              <p class="lead  text-white mb-0 ">
                <b>
                  지금 바로 무료로 가입하고,
                </b>
              </p>
              <p class="lead text-white mb-0 ">
                <b>나만의 온라인 스터디 그룹을 만들어 보세요!</b>
              </p>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-3" style="background-image:url({% static 'backspace.png' %}); height:668px; background-repeat: no-repeat">
      <div class="container text-white" style="padding: 120px 8px 16px ">
        <h1 class="fw-bold">Make Study</h1>
        <ul class="mx-auto mt-3" style="width:80%; padding:16px;">
          <li class="mt-2">마감기한 설정에 주의하세요!</li>
          <li class="mt-2">모집인원을 지정할 수 있습니다.</li>
          <li class="mt-2">인원에 맞는 모집장소를 예약해 주세요.</li>
          <li class="mt-2">장소 예약 서비스는 제공하지 않습니다.</li>
          <li class="mt-2">스터디 주제를 설정하면 목적에 맞는 스터디원을 구할 수 있어요.</li>
        </ul>
        <h1 class="fw-bold">Study Together</h1>
        <ul class="mx-auto mt-3 " style="width:80%; padding:16px;">
          <li class="mt-2">마감기한 설정에 주의하세요!</li>
          <li class="mt-2">모집인원을 지정할 수 있습니다.</li>
          <li class="mt-2">인원에 맞는 모집장소를 예약해 주세요.</li>
          <li class="mt-2">장소 예약 서비스는 제공하지 않습니다.</li>
          <li class="mt-2">스터디 주제를 설정하면 목적에 맞는 스터디원을 구할 수 있어요.</li>
        </ul>
      </div>
    </div>

    <footer id="main-footer" class="text-center" style="background:rgb(83, 83, 83); bottom: 0; z-index:3;">
      <div class="py-4">
        <p class="text-white align-center m-0">@ Copyrights 2022 CodeBee All Rights Reserved</p>
      </div>
    </footer>

  </div>
  <script>
    const simpleBar = new SimpleBar(document.getElementById('main'));
    let main = document.getElementById("main");
    let topHeight = document.getElementById("main-top").clientHeight;
    //let topHeight = document.getElementById("main-top").clientHeight;
    //let footerHeight = document.getElementById("main-footer").clientHeight;
    function setScreenSize() {
      let IntNowScreenHeight = window.innerHeight - topHeight;// 본문영역에 높이가 있는 div 추가되면 다시 계산하여 적용해야함
      // footer 가 fixed 처럼 움직임
      let StrNowScreenHeight = String(IntNowScreenHeight);
      main.style.height = StrNowScreenHeight + "px";
    };
    window.addEventListener("load", setScreenSize);
    window.addEventListener("resize", setScreenSize);
  </script>
</body>

</html>