.head {
    background: linear-gradient(
        to bottom,
        rgba(20, 20, 20, 0) 10%,
        rgba(20, 20, 20, 0.25) 25%,
        rgba(20, 20, 20, 0.5) 50%,
        rgba(20, 20, 20, 0.75) 75%,
        rgba(20, 20, 20, 1) 100%
      ), url('/static/accounts/image/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 170px;
    height: 450px;
    background-size: cover;
}

.index-header {
    background-image: url('/static/accounts/image/bg.jpg');
    background-size: cover;
    height: 500px;

}
.none {
    width: 120px;
}

.deactive {
    display: none;
}

.active {
    display: block;
}

.board {
    margin-left: 300px;
    margin-right: 300px;
    padding-top: 3rem;
    min-height: calc(100vh - 8rem);
}
.tab-menu {
    margin: 20px 0px;
}
.hi {
    position: relative;
    overflow: hidden;
    transition: all 0.2s ease-out;
}

.hi:hover {
    transform: translateY(-10px);
}

.card {
    position: relative;
    overflow: hidden;
    width: 100%;
    box-shadow: 1rem;
}

.card:hover .card-image {
    transform: scale(1.4);
}

.card .card-image {
    width: 100%;
    transition: all 0.2s linear;
}

.study-title {
    position: absolute;
    bottom: 30%;
    left: 50%;
    right: 50%;
    transform : translate(-50%);
    width: 100%;
    margin-bottom: 7rem;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 20px;
    font-weight: revert;
    color: #344050;
}

.content-box {
    position: absolute;
    display: block;
    bottom: 3%;
    left: 50%;
    right: 50%;
    transform : translate(-50%);
    height: 92px;
    width: 94%;
    border-style: solid;
    border-radius: 8px;
    border-width: 1.2px;
    border-color: #ffecc7;
    background-color:#ffecc7;
}

.study-content {
    overflow:hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 26px;
    font-size: 14px;
    color: #344050;
}

.link {
    width: 100%;
    text-decoration: none;
    color: black;

}

.card-img-top {
    object-fit: cover;
    height: 15rem;
}

.card-body {
    height: 2rem;
}
/* 카드 그라데이션 */
.card-grad {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #FD9E9E 0%, #FDA790 10%, rgba(255, 255, 255, 0) 76.4%);
    border-radius: 4px;
}
.card span {
    letter-spacing: 3px;
    background-color: #FDA790;
    font-size: 11px;
    color: white;
    padding: 3px 10px;
}
.members {
    margin: 3px;
    padding: 2px 2px;
    width: 15px;
    height: 15px;
}