.head {
    background: linear-gradient(
        to bottom,
        rgba(20, 20, 20, 0) 10%,
        rgba(20, 20, 20, 0.25) 25%,
        rgba(20, 20, 20, 0.5) 50%,
        rgba(20, 20, 20, 0.75) 75%,
        rgba(20, 20, 20, 1) 100%
      ), url('/static/accounts/image/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px 20px 0px 0px;
    margin-top: 170px;
    height: 450px;
    background-size: cover;
}
.none {
    width: 120px;
}

.deactive {
    display: none;
}

.active {
    display: block;
}
.tab_1 {
    height: 100vh;
    background-color: lightblue
}

.tab_2 {
    height: 100vh;
    background-color: lightpink;
}

.board {
    min-height: 600px;
}
.tab-menu {
    margin: 20px 0px;
}